*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: grey;
    width: 434px;
    height: 100vh;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    background-color: red;
    width: 90vm;
}
.container{
    display: flex;
}
.infoContainer{
    background-color: darkslategray(202,9,128);
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;


}
.mypic img{
    height: 30vh;
}

.HimanshuInfo{
    display: flex;
    justify-content: centre;
    flex-direction: columm;
}
.hello{
    font-size:55px;

}
.name{
    font-size: 50px;
    font-weight: bold;
    
}
.about{
    font-size: 40px;

}
.moreabout{
    font-size: 22px;
    margin: 23px;

}
.btn{
    margin-top:0  3px;
    padding: 9px 14px;
    border-radius: 22px;
    color: beige;
    background-color: blue;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}
.buttons{
    margin-top: 34px;
}
.btn:hover{
    background-color: cornsilk;
    color: aqua;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.contactform {
    padding-top: 144px;
    padding: 0 34px;

}
.contactform h1{
    text-align: center;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

.blogitem {
    margin:20px;

}
.blogContainer h1{
    margin: 23px;

}
.blogItem p{

}
.h1{
    margin: 23px;

}
.p{

}
.intro h2{

    margin: 12px;
}
.intro p{
    margin:  12px;

}
.skill{
    width: 265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}
.skillcontainer{
    padding: 12px;

}
.skillitem{
    display:flex;
    align-items:centre;
    font-weight: 900;
}
.hundred{
    width:265px;
    background-color: brown;
}
.fifty{
    width:125px;
    background-color: aqua;
}
.t5{
    width: 75px;
    background-color: yellow;
}
.t10{
    width: 50px;
    background-color: blue ;
}